body {
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
}

.weather {
    width: 550px;
    background: rgba(51, 51, 51, 0.3);
    vertical-align: middle;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.data {
    height: 200px;
    margin: 0px 20px 0px 20px;
    display: inline-block;
    vertical-align: middle;
}

#temperature {
    font-size: 110px;
}

#place {
    margin-top: -10px;
}

.icon {
    display: inline-block;
    vertical-align: middle;
}

footer {
    text-transform: uppercase;
    position: absolute;
    bottom: 1em;
    left: 1em;
    text-shadow: 0 0 0.3em #000;
}

footer a {
    color: white;
}

footer a:hover {
    color: white;
    text-decoration: none !important;
}
